- any launch vehicle designed to start from launchpad should use launch claps to
  ensure its orientation remains same as designed, be it vertical, or angled
- when launch vehicle fails to proceed with mission plan it should signal about
  failure and execute its abort sequence if it makes sense in this situation
