- For crewed airplane
	- must be able to safely land, either horizontally, or vertically
	- pilot and passengers must be able to leave airplane and return safely,
	  without additional equipment.
	- if airplane is made to land and takeoff from runway, it must be able
	  to safely taxi on runway on all speeds below takeoff speed. 
	- if airplane has wheeled landing gear, brake must be configured to not
	  cause instability while stopping even in emergency
